.black{
    color:black;
}
.white{
    color:white;
}
.blue{
    color:#6bf;
}
.gray{
    color: #888;
}
.my_black{
    background:#000000;
}
.my_gray{
    background:#fafafa;
}
.blue_two{
    color:#0070c9;
}
